version: 2.1

jobs:
  jdk8:
    docker:
      - image: circleci/openjdk:8-stretch
    steps:
      - checkout
      - run: mvn verify -V

  jdk11:
    docker:
      - image: circleci/openjdk:11-stretch
    steps:
      - checkout
      - run: mvn verify -V

  jdk15:
    docker:
      - image: circleci/openjdk:15-buster
    steps:
      - checkout
      - run: mvn verify -V

  sonar:
    docker:
      - image: circleci/openjdk:8-stretch
    steps:
      - checkout
      - run: > 
          mvn verify
          -P !build-extras
          -Dtest="*,!RunnerStandardIOTest,!RunnerWebSocketTest"
          -B
          sonar:sonar
          -Dsonar.login=${SONAR_TOKEN}
          -Dsonar.organization="camel-tooling"
          -Dsonar.projectKey="camel-lsp-server"
          -Dsonar.projectName="Camel LSP Server"
          -Dsonar.host.url=https://sonarcloud.io

  deploy:
    docker:
      - image: circleci/openjdk:8-stretch
    steps:
      - checkout
      - run: echo 'export GPG_DIR=`pwd`/cd' >> $BASH_ENV
      - run: echo ${GPG_DIR}
      - run: echo 'export GPG_TTY=$(tty)' >> $BASH_ENV
      - run: echo ${GPG_TTY}
      - run: ./cd/before-deploy.sh
      - run: ./cd/deploy.sh

workflows:
  version: 2

  build-then-test:
    jobs:
      - jdk8
      - jdk11
      - jdk15
      - sonar:
          requires:
            - jdk8
            - jdk11
            - jdk15
          filters:
            branches:
              only:
                circleci-project-setup
            tags:
              only: /.*/
          context: sonarcloud
      - deploy:
          requires:
            - jdk8
            - jdk11
            - jdk15
          filters:
            branches:
              only: circleci-project-setup
            tags:
              only: /.*/
