name: Main branch - Sonar analysis, signing and deploying

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: 'temurin'
        cache: 'maven'
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE # env variable for passphrase in sign and deploy
        server-id: central
        server-username: MAVEN_CENTRAL_USERNAME # env variable for username in deploy
        server-password: MAVEN_CENTRAL_TOKEN # env variable for token in deploy
    - name: Cache SonarCloud packages
      uses: actions/cache@v4.3.0
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Build, sign and deploy
      run: mvn -P sign,build-extras -B deploy
      env:
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
        MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }} # see https://central.sonatype.org/publish/generate-portal-token/
        MAVEN_CENTRAL_TOKEN: ${{ secrets.MAVEN_CENTRAL_TOKEN }} # see https://central.sonatype.org/publish/generate-portal-token/
    - name: Sonar analysis
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: >
        mvn -B verify
        -P !build-extras
        -Dtest="*,!RunnerStandardIOTest,!RunnerWebSocketTest"
        sonar:sonar
        -Dsonar.login=${SONAR_TOKEN}
        -Dsonar.organization="camel-tooling"
        -Dsonar.projectKey="camel-lsp-server"
        -Dsonar.projectName="Camel LSP Server"
        -Dsonar.host.url=https://sonarcloud.io
        